<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
    <div class="tx-timeline">
        <f:if condition="{entries -> f:count()} > 0">
            <f:then>
                <div class="timeline timeline--vertical">
                    <f:for each="{entries}" as="entry">
                        <div class="timeline__item">
                            <div class="timeline__marker">
                                <span class="timeline__year">{entry.year}</span>
                            </div>
                            <div class="timeline__content">
                                <h2 class="timeline__title">{entry.title}</h2>
                                <f:if condition="{entry.categories -> f:count()} > 0">
                                    <div class="timeline__categories">
                                        <f:for each="{entry.categories}" as="category">
                                            <span class="timeline__category">{category.title}</span>
                                        </f:for>
                                    </div>
                                </f:if>
                                <f:if condition="{entry.description}">
                                    <div class="timeline__description">
                                        <f:format.html>{entry.description}</f:format.html>
                                    </div>
                                </f:if>
                                <f:if condition="{entry.media -> f:count()} > 0">
                                    <div class="timeline__media">
                                        <f:for each="{entry.media}" as="mediaItem">
                                            <f:image image="{mediaItem}" alt="{mediaItem.alternative}" class="timeline__image" />
                                        </f:for>
                                    </div>
                                </f:if>
                                <f:link.action action="show" arguments="{timelineEntry: entry}" class="timeline__readmore">
                                    <f:translate key="LLL:EXT:timeline/Resources/Private/Language/locallang.xlf:timeline.readmore" />
                                </f:link.action>
                            </div>
                        </div>
                    </f:for>
                </div>
            </f:then>
            <f:else>
                <p class="timeline__empty">
                    <f:translate key="LLL:EXT:timeline/Resources/Private/Language/locallang.xlf:timeline.noentries" />
                </p>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
